*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    color: var(--card-text-color);
    background-color: var(--background-color);
    font-family: sans-serif;
}

:root {
    --background-color: #ecedf4;
    --button-hover: #c2c4ce;
    --card-color: #f0efef;
    --card-outline-color: #373535;
    --header-color: #a2a8d3;
    --submit-hover: #7c81a4;
    --header-text-color: #fafafa;
    --card-text-color: black;
    --standard-font: 24px;
}

.grid-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas: 
        "header header header"
        "subheader subheader subheader"
        "body body body";
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 100px 100px 1fr;
}

.header {
    grid-area: header;
    background-color: var(--header-color);
    color: var(--header-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.subheader {
    grid-area: subheader;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}

.add-book {
    width: 175px;
    height: 50px;
    font-size: var(--standard-font);
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
}

.add-book:hover {
    background-color: var(--button-hover);
    border-radius: 8px;
}

.library {
    grid-area: body;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 25px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 150px;

    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;

    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.3);
}

.modal-content {
    background-color: var(--background-color);
    margin: auto;
    padding: 20px;
    border: 6px solid var(--card-outline-color);
    border-radius: 30px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--standard-font);
}

.modal-form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 1.2fr 1fr 1fr 1fr 1.5fr 1fr;
    row-gap: 10px;
}

input[type=text], input[type=submit] {
    width: 100%;
    padding: 15px 15px;
    border: none;
    border-radius: 8px;
    font-size: var(--standard-font);
}

input[type=submit],
#submit {
    background-color: var(--header-color);
    border: none;
    font-size: var(--standard-font);
    border-radius: 8px;
    padding: 15px 15px;
}

input[type=submit]:hover,
#submit:hover {
    background-color: var(--submit-hover);
    cursor: pointer;
}

.checkbox-container {
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
}

input[type=checkbox] {
    width: 25px;
    height: 25px;
}

.form-title {
    display: flex;
    align-items: center;
    justify-content: center;
}


